[Unit]
Description=Timer for package_tracker agent (every 2 hours)

[Timer]
OnCalendar=*-*-* 00/2:00:00 America/Los_Angeles
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
